* {
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
}

.navbar-brand:hover {
    opacity: 0.5;
}

.header {
    background-color: white;
    opacity: 0.9;
}

.footer {
    background-color: white;
    opacity: 0.9;
}

.main-image {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
}

.bg-white {
    background-color: black;
}

.article {
    background: white;
    opacity: 0.9;
    box-shadow: 3px 4px 7px 2px gray;
    border-radius: 5px;
}

.bio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio-img-wrapper {
    overflow: hidden;
    border: 1px solid #333;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.bio-text {
    text-align: justify;
}

.carousel-img {
    border: 4px solid #333;
    max-width: 600px;
    height: 450px;
    margin: auto;
    display: block;
    cursor: pointer;
}

.modal-img {
    border: 4px solid #333;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer-link {
    color: black;
}

.footer-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 797px) {
    .carousel-img {
        max-width: 280px;
        height: 250px;
        object-fit: cover;
    }
}